Ejercicio Pandas-01. 
Tienes un DataFrame con ventas de diferentes productos por meses.Extrae la media de ventas para cada producto, solo para los meses donde la venta fue mayor que 50, y ordena el resultado de mayor a menor. data = {'Producto': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],'Mes': ['Enero', 'Enero', 'Enero', 'Febrero', 'Febrero', 'Febrero', 'Marzo', 'Marzo', 'Marzo'],'Ventas': [45, 60, 70, 55, 40, 80, 65, 70, 30]}

In [4]:
import pandas as pd
import numpy as np

In [2]:

# Datos proporcionados
data = {
    'Producto': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
    'Mes': ['Enero', 'Enero', 'Enero', 'Febrero', 'Febrero', 'Febrero', 'Marzo', 'Marzo', 'Marzo'],
    'Ventas': [45, 60, 70, 55, 40, 80, 65, 70, 30]
}

# Paso 1: Crear el DataFrame
df = pd.DataFrame(data)

# Paso 2: Filtrar ventas mayores a 50
ventas_altas = df[df['Ventas'] > 50]

# Paso 3: Calcular la media por producto (solo datos filtrados)
media_por_producto = ventas_altas.groupby('Producto')['Ventas'].mean()

# Paso 4: Ordenar resultados (mayor a menor)
resultado = media_por_producto.sort_values(ascending=False)

print(resultado)

Producto
C    75.0
B    65.0
A    60.0
Name: Ventas, dtype: float64

Ejercicio Pandas-02.
Crea una Series con índices personalizados a partir de un set, luego concaténala con un DataFrame por columnas, y finalmente, reemplaza todos los valores NaN por la media de la columna correspondiente.serie = pd.Series(set([10, 20, 30]), index=['x', 'y', 'z'])df = pd.DataFrame({'A':[1, 2, None], 'B':[4, None, 6]}, index=['x', 'y', 'w'])

In [9]:
import pandas as pd
import numpy as np

# Crear la Serie CORRECTAMENTE: convertir el set a lista primero
valores = list(set([10, 20, 30]))  # Convertimos el set a lista
serie = pd.Series(valores, index=['x', 'y', 'z'])  # Ahora funciona

# Crear DataFrame
df = pd.DataFrame({'A': [1, 2, None], 'B': [4, None, 6]}, index=['x', 'y', 'w'])

# Concatenar por columnas (axis=1)
resultado = pd.concat([df, serie], axis=1)

# Calcular medias por columna (ignorando NaN)
medias = resultado.mean()

# Reemplazar NaN con la media correspondiente
resultado_final = resultado.fillna(medias)

print(resultado_final)

     A    B     0
x  1.0  4.0  10.0
y  2.0  5.0  20.0
w  1.5  6.0  20.0
z  1.5  5.0  30.0

Ejercicio Pandas-03. 
Dado un DataFrame, selecciona todas las filas cuyo índice sea par, y dentro de esas filas, filtra las columnas que tengan una media mayor que 3.
df = pd.DataFrame({'X': [1, 4, 7, 10],'Y': [2, 5, 8, 11],'Z': [3, 6, 9, 12]}, index=[0, 1, 2, 3])

In [10]:
import pandas as pd

# Crear el DataFrame
df = pd.DataFrame({
    'X': [1, 4, 7, 10],
    'Y': [2, 5, 8, 11],
    'Z': [3, 6, 9, 12]
}, index=[0, 1, 2, 3])

# Paso 1: Filtrar filas con índice par
filas_pares = df[df.index % 2 == 0]

# Paso 2: Calcular medias de las columnas
medias = df.mean()

# Paso 3: Filtrar columnas con media > 3
columnas_filtradas = medias[medias > 3].index

# Paso 4: Combinar ambos filtros
resultado = filas_pares[columnas_filtradas]

print(resultado)

   X  Y  Z
0  1  2  3
2  7  8  9

Ejercicio Pandas-04.
Carga un DataFrame desde un CSV creado en memoria (usando pd.read_csv con StringIO), conviértelo a fechas, y crea una columna nueva con el mes extraído de la fecha. Luego crea una tabla dinámica con la media de una columna numérica por mes.from io import StringIO
csv_data = """id,fecha,valor1,2023-01-10,1002,2023-02-15,2003,2023-01-20,1504,2023-03-05,300""".

In [11]:
import pandas as pd
from io import StringIO

# Corregir el formato del CSV (agregar saltos de línea y corregir encabezados)
csv_data = """id,fecha,valor
1,2023-01-10,100
2,2023-02-15,200
3,2023-01-20,150
4,2023-03-05,300"""

# Cargar el DataFrame desde el CSV en memoria
df = pd.read_csv(StringIO(csv_data))

# Convertir la columna 'fecha' a datetime
df['fecha'] = pd.to_datetime(df['fecha'])

# Crear columna con el mes extraído (formato numérico)
df['mes'] = df['fecha'].dt.month

# Alternativa: para obtener el nombre del mes
# df['mes'] = df['fecha'].dt.month_name()

# Crear tabla dinámica con la media de 'valor' por mes
tabla_dinamica = pd.pivot_table(
    df, 
    values='valor', 
    index='mes', 
    aggfunc='mean'
)

print("DataFrame original:")
print(df)
print("\nTabla dinámica (media por mes):")
print(tabla_dinamica)

DataFrame original:
   id      fecha  valor  mes
0   1 2023-01-10    100    1
1   2 2023-02-15    200    2
2   3 2023-01-20    150    1
3   4 2023-03-05    300    3

Tabla dinámica (media por mes):
     valor
mes
1    125.0
2    200.0
3    300.0

Ejercicio Pandas-05.
Dado un DataFramecon categorías y valores, renombra las columnas quitando espacios y conviértelas a minúsculas, convierte la columna categoría a tipo category, y muestra la frecuencia de cada categoría.df = pd.DataFrame({' Cat ': ['a', 'b', 'a', 'c', 'b', 'a'],'Valor': [10, 20, 10, 30, 20, 10]}).

In [12]:
import pandas as pd

# Crear el DataFrame
df = pd.DataFrame({' Cat ': ['a', 'b', 'a', 'c', 'b', 'a'], 'Valor': [10, 20, 10, 30, 20, 10]})

# Paso 1: Renombrar columnas (quitar espacios y convertir a minúsculas)
df.columns = [col.strip().lower() for col in df.columns]

# Paso 2: Convertir columna 'cat' a tipo category
df['cat'] = df['cat'].astype('category')

# Paso 3: Calcular frecuencias
frecuencias = df['cat'].value_counts()

print("DataFrame transformado:")
print(df)
print("\nFrecuencia de categorías:")
print(frecuencias)

DataFrame transformado:
  cat  valor
0   a     10
1   b     20
2   a     10
3   c     30
4   b     20
5   a     10

Frecuencia de categorías:
cat
a    3
b    2
c    1
Name: count, dtype: int64

Ejercicio Pandas-06. 
Tienes dos DataFrames con nombres y edades, pero con diferentes columnas para nombre. Realiza un merge con outer join y rellena los valores NaN con 'Desconocido' para nombres y con la media para edadesdf1 = pd.DataFrame({'nombre1': ['Ana', 'Luis'], 'edad1': [23, 45]})df2 = pd.DataFrame({'nombre2': ['Ana', 'Juan'], 'edad2': [23, 30]}).

In [13]:
import pandas as pd
import numpy as np

# Crear los DataFrames
df1 = pd.DataFrame({'nombre1': ['Ana', 'Luis'], 'edad1': [23, 45]})
df2 = pd.DataFrame({'nombre2': ['Ana', 'Juan'], 'edad2': [23, 30]})

# Paso 1: Hacer merge con outer join
merged = pd.merge(df1, df2, left_on='nombre1', right_on='nombre2', how='outer')

# Paso 2: Rellenar NaN en nombres con 'Desconocido'
merged['nombre1'] = merged['nombre1'].fillna('Desconocido')
merged['nombre2'] = merged['nombre2'].fillna('Desconocido')

# Paso 3: Calcular medias de las edades
media_edad1 = merged['edad1'].mean()
media_edad2 = merged['edad2'].mean()

# Rellenar NaN en edades con sus respectivas medias
merged['edad1'] = merged['edad1'].fillna(media_edad1)
merged['edad2'] = merged['edad2'].fillna(media_edad2)

print(merged)

       nombre1  edad1      nombre2  edad2
0          Ana   23.0          Ana   23.0
1  Desconocido   34.0         Juan   30.0
2         Luis   45.0  Desconocido   26.5

Ejercicio Pandas-07.
Crea un DataFrame con índices de fecha y varias columnas numéricas. Usa .apply() para normalizar cada columna (restar media y dividir por desviación estándar) y filtra las filas donde alguna columna esté fuera del rango [-1, 1].fechas = pd.date_range('2023-01-01', periods=5)df = pd.DataFrame(np.random.randint(1, 100, (5,3)), columns=list('ABC'), index=fechas).

In [14]:
import pandas as pd
import numpy as np

# Crear el DataFrame
fechas = pd.date_range('2023-01-01', periods=5)
df = pd.DataFrame(np.random.randint(1, 100, (5, 3)), columns=list('ABC'), index=fechas)

# Paso 1: Normalizar las columnas
def normalizar(col):
    return (col - col.mean()) / col.std()

df_normalizado = df.apply(normalizar)

# Paso 2: Filtrar filas donde alguna columna esté fuera de [-1, 1]
# Crear máscara: True si TODOS los valores de la fila están en [-1, 1]
mascara = ((df_normalizado >= -1) & (df_normalizado <= 1)).all(axis=1)

# Aplicar máscara para filtrar filas
df_filtrado = df_normalizado[mascara]

print("DataFrame original:")
print(df)
print("\nDataFrame normalizado:")
print(df_normalizado)
print("\nDataFrame filtrado (todas las columnas en [-1, 1]):")
print(df_filtrado)

DataFrame original:
             A   B   C
2023-01-01  34  50  72
2023-01-02   7  26  75
2023-01-03  12  59   9
2023-01-04  18  27  39
2023-01-05  31   5  35

DataFrame normalizado:
                   A         B         C
2023-01-01  1.156453  0.775413  0.940647
2023-01-02 -1.139446 -0.345666  1.049183
2023-01-03 -0.714280  1.195818 -1.338613
2023-01-04 -0.204080 -0.298954 -0.253251
2023-01-05  0.901353 -1.326610 -0.397966

DataFrame filtrado (todas las columnas en [-1, 1]):
                  A         B         C
2023-01-04 -0.20408 -0.298954 -0.253251

Ejercicio Pandas-08. 
Dado un DataFrame con columnas de strings, convierte todas a mayúsculas, elimina las filas que contengan el string 'ERROR', y ordena por la columna 'ID' descendente.
df = pd.DataFrame({'ID': [3, 2, 1],'Status': ['ok', 'error', 'ok'],'Name': ['Ana', 'Luis', 'Juan']}).

In [15]:
import pandas as pd

# Crear el DataFrame
df = pd.DataFrame({
    'ID': [3, 2, 1],
    'Status': ['ok', 'error', 'ok'],
    'Name': ['Ana', 'Luis', 'Juan']
})

# 1. Convertir columnas de texto a mayúsculas
for columna in df.select_dtypes(include='object').columns:
    df[columna] = df[columna].str.upper()

# 2. Eliminar filas que contengan "ERROR" en cualquier columna de texto
columnas_texto = df.select_dtypes(include='object').columns
mascara_errores = df[columnas_texto].apply(lambda col: col == 'ERROR').any(axis=1)
df = df[~mascara_errores]

# 3. Ordenar por 'ID' descendente
df = df.sort_values('ID', ascending=False)

# Restablecer índices después de eliminar filas y ordenar
df = df.reset_index(drop=True)

# Resultado final
print(df)

   ID Status  Name
0   3     OK   ANA
1   1     OK  JUAN

Ejercicio Pandas-09. 
Genera un DataFrame de 6 filas con columnas 'Grupo' y 'Puntaje', agrupa por 'Grupo' y calcula la suma, media y desviación estándar, luego convierte el resultado a un DataFrame plano (sin índices jerárquicos)df = pd.DataFrame({'Grupo': ['X', 'Y', 'X', 'Y', 'X', 'Z'],'Puntaje': [10, 20, 15, 25, 10, 5]}).

In [16]:
import pandas as pd

# Crear el DataFrame
df = pd.DataFrame({
    'Grupo': ['X', 'Y', 'X', 'Y', 'X', 'Z'],
    'Puntaje': [10, 20, 15, 25, 10, 5]
})

# Paso 1: Agrupar por 'Grupo' y calcular las estadísticas
grouped = df.groupby('Grupo')['Puntaje'].agg(['sum', 'mean', 'std'])

# Paso 2: Aplanar las columnas multiíndice
grouped.columns = ['Suma', 'Media', 'Desviacion_estandar']

# Paso 3: Convertir el índice en columna y reiniciar índice
resultado = grouped.reset_index()

print(resultado)

  Grupo  Suma      Media  Desviacion_estandar
0     X    35  11.666667             2.886751
1     Y    45  22.500000             3.535534
2     Z     5   5.000000                  NaN

Ejercicio Pandas-10. 
Crea un DataFramecon columnas desordenadas y con espacios en los nombres. Reordénalas alfabéticamente, elimina la columna menos importante, y modifica un valor específico usando .ilocdf = pd.DataFrame({' C ': [1, 2],'A': [3, 4],' B': [5, 6]}).

In [17]:
import pandas as pd

# Crear el DataFrame con espacios en nombres de columnas
df = pd.DataFrame({' C ': [1, 2], 'A': [3, 4], ' B': [5, 6]})

# Paso 1: Ordenar columnas alfabéticamente
df = df[sorted(df.columns)]

# Paso 2: Eliminar la columna menos importante (la última después de ordenar)
columna_a_eliminar = df.columns[-1]
df = df.drop(columns=columna_a_eliminar)

# Paso 3: Modificar valor en fila 0, columna 0 usando iloc
df.iloc[0, 0] = 100

print("DataFrame resultante:")
print(df)

DataFrame resultante:
     B  C
0  100   1
1    6   2

Ejercicio Pandas-11.
A partir de un DataFrame, crea una nueva columna con valores categóricos en mayúsculas, reemplaza los valores NaN por un valor definido, y cuenta cuántos valores únicos tiene esa columna. df = pd.DataFrame({'Categoria': ['a', None, 'b', 'a', 'c', None]}).

In [18]:
import pandas as pd
import numpy as np

# Crear el DataFrame
df = pd.DataFrame({'Categoria': ['a', None, 'b', 'a', 'c', None]})

# Paso 1: Crear nueva columna en mayúsculas
df['Categoria_Upper'] = df['Categoria'].str.upper()

# Paso 2: Reemplazar NaN por valor definido (ej: 'DESCONOCIDO')
df['Categoria_Upper'] = df['Categoria_Upper'].fillna('DESCONOCIDO')

# Paso 3: Contar valores únicos
cantidad_unicos = df['Categoria_Upper'].nunique()

print("DataFrame resultante:")
print(df)
print("\nCantidad de valores únicos en 'Categoria_Upper':", cantidad_unicos)

DataFrame resultante:
  Categoria Categoria_Upper
0         a               A
1      None     DESCONOCIDO
2         b               B
3         a               A
4         c               C
5      None     DESCONOCIDO

Cantidad de valores únicos en 'Categoria_Upper': 4

Ejercicio Pandas-12.
Crea un DataFrame a partir de una lista de diccionarios, luego ordena primero por dos columnas (una ascendente y otra descendente), y extrae las últimas 3 filas.
lista = [{'Nombre':'Ana', 'Edad':25, 'Puntaje':90},{'Nombre':'Luis', 'Edad':30, 'Puntaje':80},{'Nombre':'Juan', 'Edad':25, 'Puntaje':95},{'Nombre':'Maria', 'Edad':22, 'Puntaje':88},{'Nombre':'Carmen', 'Edad':30, 'Puntaje':85},].

In [19]:
import pandas as pd

# Lista de diccionarios
lista = [
    {'Nombre':'Ana', 'Edad':25, 'Puntaje':90},
    {'Nombre':'Luis', 'Edad':30, 'Puntaje':80},
    {'Nombre':'Juan', 'Edad':25, 'Puntaje':95},
    {'Nombre':'Maria', 'Edad':22, 'Puntaje':88},
    {'Nombre':'Carmen', 'Edad':30, 'Puntaje':85}
]

# Paso 1: Crear DataFrame
df = pd.DataFrame(lista)

# Paso 2: Ordenar por 'Edad' ascendente y 'Puntaje' descendente
df_ordenado = df.sort_values(by=['Edad', 'Puntaje'], ascending=[True, False])

# Paso 3: Extraer últimas 3 filas
ultimas_tres = df_ordenado.tail(3)

print("DataFrame ordenado:")
print(df_ordenado)
print("\nÚltimas 3 filas:")
print(ultimas_tres)

DataFrame ordenado:
   Nombre  Edad  Puntaje
3   Maria    22       88
2    Juan    25       95
0     Ana    25       90
4  Carmen    30       85
1    Luis    30       80

Últimas 3 filas:
   Nombre  Edad  Puntaje
0     Ana    25       90
4  Carmen    30       85
1    Luis    30       80

Ejercicio Pandas-13. 
Tienes dos DataFrames con columnas parcialmente coincidentes, realiza un merge con inner join usando columnas con nombres distintos, y luego elimina filas duplicadas.
df1 = pd.DataFrame({'ID1': [1,2,3], 'Valor': [100, 200, 300]}), df2 = pd.DataFrame({'ID2': [2,3,4], 'Valor2': [250, 350, 450]})

In [20]:
import pandas as pd

# Crear los DataFrames
df1 = pd.DataFrame({'ID1': [1, 2, 3], 'Valor': [100, 200, 300]})
df2 = pd.DataFrame({'ID2': [2, 3, 4], 'Valor2': [250, 350, 450]})

# Paso 1: Merge con inner join usando columnas con nombres distintos
merged_df = pd.merge(df1, df2, left_on='ID1', right_on='ID2', how='inner')

# Paso 2: Eliminar filas duplicadas
merged_df = merged_df.drop_duplicates()

# Paso 3: Opcional - renombrar columna de ID
merged_df = merged_df.rename(columns={'ID1': 'ID'}).drop(columns='ID2')

print("DataFrame resultante:")
print(merged_df)

DataFrame resultante:
   ID  Valor  Valor2
0   2    200     250
1   3    300     350

Ejercicio Pandas-14.
Crea un DataFrame con datos numéricos, elimina las filas que contengan NaN, calcula el coeficiente de correlación entre todas las columnas, y finalmente, imprime el valor más alto de correlación diferente de 1.df = pd.DataFrame({'A':[1, 2, 3, 4, np.nan],'B':[2, 3, 4, 5, 6],'C':[5, 6, 7, np.nan, 9]})

In [21]:
import pandas as pd
import numpy as np

# Crear el DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3, 4, np.nan],
    'B': [2, 3, 4, 5, 6],
    'C': [5, 6, 7, np.nan, 9]
})

# Paso 1: Eliminar filas con NaN
df_clean = df.dropna()

# Paso 2: Calcular matriz de correlación
corr_matrix = df_clean.corr()

# Paso 3: Encontrar el valor máximo de correlación diferente de 1
# Creamos una máscara para excluir la diagonal (valores 1)
mask = np.triu(np.ones_like(corr_matrix, dtype=bool), k=1)
corr_values = corr_matrix.where(mask).stack()
max_corr = corr_values.max()

print("DataFrame limpio:")
print(df_clean)
print("\nMatriz de correlación:")
print(corr_matrix)
print(f"\nMáxima correlación (excluyendo 1): {max_corr:.4f}")

DataFrame limpio:
     A  B    C
0  1.0  2  5.0
1  2.0  3  6.0
2  3.0  4  7.0

Matriz de correlación:
     A    B    C
A  1.0  1.0  1.0
B  1.0  1.0  1.0
C  1.0  1.0  1.0

Máxima correlación (excluyendo 1): 1.0000

Ejercicio Pandas-15.
Crea un DataFrame con columnas de texto y numéricas. Aplica una función lambda que convierte a mayúsculas solo las columnas de texto y que a las columnas numéricas les suma 100.

df = pd.DataFrame({'Nombre': ['Ana', 'Luis', 'Juan'],'Edad': [25, 30, 22],'Ciudad': ['madrid', 'barcelona', 'sevilla']})

In [22]:
import pandas as pd

# Crear el DataFrame
df = pd.DataFrame({
    'Nombre': ['Ana', 'Luis', 'Juan'],
    'Edad': [25, 30, 22],
    'Ciudad': ['madrid', 'barcelona', 'sevilla']
})

# Aplicar transformaciones
df_transformado = df.apply(
    lambda col: col.str.upper() if col.dtype == 'object' else col + 100
)

print("DataFrame transformado:")
print(df_transformado)

DataFrame transformado:
  Nombre  Edad     Ciudad
0    ANA   125     MADRID
1   LUIS   130  BARCELONA
2   JUAN   122    SEVILLA

Ejercicio Pandas-16. 
Crea un DataFrame, cambia el índice por una columna, concatena horizontalmente otro DataFrame, y después elimina una fila por índice usando .drop().
df1 = pd.DataFrame({'ID': [1, 2, 3],'Valor': [10, 20, 30]}), 
df2 = pd.DataFrame({'Extra': ['a', 'b', 'c']})

In [23]:
import pandas as pd

# Crear los DataFrames
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Valor': [10, 20, 30]})
df2 = pd.DataFrame({'Extra': ['a', 'b', 'c']})

# Paso 1: Convertir el índice de df1 en una columna
df1 = df1.reset_index().rename(columns={'index': 'Indice_Original'})

# Paso 2: Concatenar horizontalmente df2
resultado = pd.concat([df1, df2], axis=1)

# Paso 3: Eliminar una fila por índice (eliminaremos la fila con índice 1)
resultado = resultado.drop(1)

print("DataFrame final:")
print(resultado)

DataFrame final:
   Indice_Original  ID  Valor Extra
0                0   1     10     a
2                2   3     30     c

Ejercicio Pandas-17. 
Lee un CSV desde un string con separador ; y sin cabecera, asigna nombres a las columnas, cambia el tipo de una columna a category y filtra por valores que están en una lista from io import StringIO csv_data = """Ana;25;MadridLuis;30;BarcelonaJuan;22;SevillaMaria;28;Madrid"""

In [24]:
import pandas as pd
from io import StringIO

# Paso 1: Corregir el formato del CSV insertando saltos de línea
csv_data = """Ana;25;MadridLuis;30;BarcelonaJuan;22;SevillaMaria;28;Madrid"""
csv_corregido = csv_data.replace('MadridLuis', 'Madrid\nLuis') \
                        .replace('BarcelonaJuan', 'Barcelona\nJuan') \
                        .replace('SevillaMaria', 'Sevilla\nMaria')

# Paso 2: Leer el CSV corregido
df = pd.read_csv(StringIO(csv_corregido), sep=';', header=None)

# Paso 3: Asignar nombres a las columnas
df.columns = ['Nombre', 'Edad', 'Ciudad']

# Paso 4: Convertir 'Ciudad' a tipo category
df['Ciudad'] = df['Ciudad'].astype('category')

# Paso 5: Filtrar por ciudades en una lista específica
ciudades_filtro = ['Madrid', 'Sevilla']
df_filtrado = df[df['Ciudad'].isin(ciudades_filtro)]

print("DataFrame original:")
print(df)
print("\nDataFrame filtrado:")
print(df_filtrado)

DataFrame original:
  Nombre  Edad     Ciudad
0    Ana    25     Madrid
1   Luis    30  Barcelona
2   Juan    22    Sevilla
3  Maria    28     Madrid

DataFrame filtrado:
  Nombre  Edad   Ciudad
0    Ana    25   Madrid
2   Juan    22  Sevilla
3  Maria    28   Madrid

Ejercicio Pandas-18. 
Genera un DataFrame, ordena por columnas de forma descendente, crea un nuevo DataFrame con la media y suma agrupada por una columna, y escribe el resultado a un archivo Excel (en memoria con BytesIO).import io  df = pd.DataFrame({'Categoria': ['A', 'B', 'A', 'B', 'C'],'Valor': [10, 20, 15, 25, 30]}).

In [2]:
import pandas as pd
import io

# Paso 1: Crear el DataFrame
df = pd.DataFrame({
    'Categoria': ['A', 'B', 'A', 'B', 'C'],
    'Valor': [10, 20, 15, 25, 30]
})

# Paso 2: Ordenar por columnas de forma descendente
df_ordenado = df.sort_values(by=['Categoria', 'Valor'], ascending=False)

# Paso 3: Agrupar por categoría y calcular estadísticas
df_agrupado = df_ordenado.groupby('Categoria')['Valor'].agg(
    Media='mean',
    Suma='sum'
).reset_index()

# Paso 4: Escribir a Excel en memoria
output = io.BytesIO()
with pd.ExcelWriter(output, engine='xlsxwriter') as writer:
    df_agrupado.to_excel(writer, sheet_name='Resultados', index=False)
    
# El archivo Excel está ahora en output.getvalue()
excel_en_memoria = output.getvalue()

# Verificar tamaño del archivo generado
print(f"Tamaño del archivo Excel: {len(excel_en_memoria)} bytes")

Tamaño del archivo Excel: 5496 bytes

In [3]:
with open('resultados.xlsx', 'wb') as f:
    f.write(excel_en_memoria)

Ejercicio Pandas-19.
Dado un DataFrame con fechas en formato string, convierte la columna a datetime, extrae el año, filtra los datos para un año específico y calcula el conteo de registros para cada mes.
df = pd.DataFrame({'fecha': ['2020-01-05', '2020-02-15', '2021-01-10', '2020-03-22', '2021-04-30'],'valor': [10, 20, 30, 40, 50]})

In [4]:
import pandas as pd

# Crear el DataFrame
df = pd.DataFrame({
    'fecha': ['2020-01-05', '2020-02-15', '2021-01-10', '2020-03-22', '2021-04-30'],
    'valor': [10, 20, 30, 40, 50]
})

# Paso 1: Convertir a datetime
df['fecha'] = pd.to_datetime(df['fecha'])

# Paso 2: Extraer el año
df['año'] = df['fecha'].dt.year

# Paso 3: Filtrar por año específico (2020)
df_2020 = df[df['año'] == 2020]

# Paso 4: Extraer el mes de las fechas filtradas
df_2020['mes'] = df_2020['fecha'].dt.month

# Paso 5: Contar registros por mes
conteo_mensual = df_2020['mes'].value_counts().sort_index().reset_index()
conteo_mensual.columns = ['Mes', 'Conteo']

print("Datos originales:")
print(df)
print("\nDatos filtrados para 2020:")
print(df_2020)
print("\nConteo mensual de registros en 2020:")
print(conteo_mensual)

Datos originales:
       fecha  valor   año
0 2020-01-05     10  2020
1 2020-02-15     20  2020
2 2021-01-10     30  2021
3 2020-03-22     40  2020
4 2021-04-30     50  2021

Datos filtrados para 2020:
       fecha  valor   año  mes
0 2020-01-05     10  2020    1
1 2020-02-15     20  2020    2
3 2020-03-22     40  2020    3

Conteo mensual de registros en 2020:
   Mes  Conteo
0    1       1
1    2       1
2    3       1

C:\Users\hecto\AppData\Local\Temp\ipykernel_6356\3125310060.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020['mes'] = df_2020['fecha'].dt.month

Ejercicio Pandas-20. 
Crea un DataFrame con columnas numéricas y una categórica, usa pivot_table para obtener la suma y el promedio agrupando por la columna categórica, y añade totales con margins=True, df = pd.DataFrame({'Categoria': ['X', 'Y', 'X', 'Y', 'Z'],'Valor1': [10, 20, 30, 40, 50],'Valor2': [1, 2, 3, 4, 5]}).

In [5]:
import pandas as pd

# Crear el DataFrame
df = pd.DataFrame({
    'Categoria': ['X', 'Y', 'X', 'Y', 'Z'],
    'Valor1': [10, 20, 30, 40, 50],
    'Valor2': [1, 2, 3, 4, 5]
})

# Crear tabla dinámica con suma y promedio, agrupando por 'Categoria'
pivot = pd.pivot_table(
    df,
    index='Categoria',
    values=['Valor1', 'Valor2'],
    aggfunc=['sum', 'mean'],
    margins=True,
    margins_name='Total'  # Nombre personalizado para el total
)

# Mostrar la tabla
print(pivot)

             sum          mean
          Valor1 Valor2 Valor1 Valor2
Categoria
X             40      4   20.0    2.0
Y             60      6   30.0    3.0
Z             50      5   50.0    5.0
Total        150     15   30.0    3.0